/* .header-container{
  z-index: 111;
} */
.header-top{
  background-color: var(--color-primary);
  padding: 10px;
  transition:  .3s;
}
.social-link{
  margin-left: auto;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.social-link img{
  width: 20px;
}
.header-container .logo{
  /* background-color: var(--bg-light-primary); */
  /* border: 1px solid red; */
  height: 80px;
}
/* .header-container.sticky .logo{
  width: 150px;
  height: 60px;
  overflow: hidden;
  border: 2px solid blue;
} */
.logo{
  transition: .3s;
}
.logo img{
  object-fit: contain;
  height: 100%!important;
  width: 100%;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  background-color: #fff;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}

/* Total header height SAME rakho */
.header-container,
.header-row {
  /* display: flex; */
  /* height: 105px; */
  transition: height 0.3s ease;
}

/* Header top animation */
.header-top {
  height: 35px;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Sticky state */
.header-container.sticky {
  background: var(--bg-light-primary);
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  /* display: flex; */
  /* height: 70px; */
}
.header-container.sticky .container{
  margin-top: -20px!important;
  /* border: 1px solid; */
}
.active{
  border-bottom: 2px solid var(--color-primary)!important;
  color: var(--color-primary);
}

.header-container.sticky .header-top {
  height: 0;
  opacity: 0;
  transform: translateY(-100px);
}

.header-container.sticky .header-row {
  height: 70px;
}

/* .header-container.sticky .header-row{
  height: 60px;
  border: 1px solid red;
} */
.header-container.sticky .navigation ul{
  color: #222;
}
.navigation{
  /* border: 1px solid; */
  width: 100%;

}
.navigation ul{
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  /* width: 100%; */
margin-left: auto!important;
/* border: 1px solid; */
display: inline-flex;
  /* color: #fff; */
}
.navigation ul li{
  align-self: center;
  padding: 8px 3px;
  cursor: pointer;
  transition: all .3s ease;
  border: 2px solid transparent;
}
.navigation ul li:hover{
  border-bottom: 2px solid var(--color-primary);
}
/* .navigation ul li.active{
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
} */
.btn-donate{
  background: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: 0.5s;
  font-size: 16px;
}
.btn-donate:hover{
  transform: scale(1.05);
}
.btn-donate mat-icon{
  font-size: 14px;
  margin-left: 6px;
}
.donate-item{
  margin-left: auto;
}



/* Hamburger hidden on desktop */
.menu-toggle {
  display: none;
  color: #000!important;
  cursor: pointer;
  margin-left: 15px;
}

@media (max-width: 1080px) {

  .menu-toggle {
    display: block;
    color: #fff;
    z-index: 1;
  }

  .navigation {
    position: absolute;
    top: 105px;
    left: 0;
    width: 100%;
    z-index: 5;
    background: var(--bg-light-primary);

    /* IMPORTANT */
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(-1px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .header-container.sticky .navigation{
    top: 68px;
  }

  .navigation.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navigation ul {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 100%;
  }

  .navigation ul li {
    color: #000;
    width: 100%;
  }

  .btn-donate {
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    justify-content: center;
  }

  .navigation li.active {
    border: none !important;
  }
}
