<div class="header-container" [class.sticky]="isSticky">
  <div class="header-top">
    <div class="social-link">
      <img src="../../assets/youtube.png" alt="">
      <img src="../../assets/facebook.png" alt="">
      <img src="../../assets/instagram.png" alt="">
      <img src="../../assets/linkedin.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center header-row">
      <div class="logo" routerLink="">
        <img src="../../assets/logo2.png" alt="">
      </div>

      <!-- MENU -->
      <div class="navigation d-flex align-items-center" [class.open]="menuOpen">
        <ul class="d-flex">
          <li routerLinkActive="active" [ngClass]="{ active: isEventActive() }" mat-button [matMenuTriggerFor]="currentMenu"
            (click)="closeMenu()" [routerLinkActiveOptions]="{ exact: true }" class="d-flex align-items-center">
            Who we are <mat-icon>arrow_drop_down</mat-icon></li>
          <mat-menu #currentMenu="matMenu">
            <button mat-menu-item routerLink="about">
              Overview
            </button>

            <button mat-menu-item routerLink="ourTeam">
              Our Team
            </button>
            <button mat-menu-item routerLink="success-stories">
              Success Stories
            </button>
          </mat-menu>
          <li routerLinkActive="active" [ngClass]="{ active: whatEventActive() }" mat-button [matMenuTriggerFor]="whatMenu" 
            (click)="closeMenu()" [routerLinkActiveOptions]="{ exact: true }" class="d-flex align-items-center">What we do <mat-icon>arrow_drop_down</mat-icon></li>
          <mat-menu #whatMenu="matMenu">
            <button mat-menu-item routerLink="what-we-do">
              Overview
            </button>
            <button mat-menu-item  [matMenuTriggerFor]="whatCurrentMenu">
              Current interventions
            </button>

            <button mat-menu-item routerLink="previous-intervention">
              Previous Interventions
            </button>
          </mat-menu>
          <mat-menu #whatCurrentMenu="matMenu">
            <button mat-menu-item routerLink="/praangan">
              Praangan
            </button>
            <button mat-menu-item routerLink="/aangan-day-care">
               Aangan Day Care
            </button>
            <button mat-menu-item routerLink="theatre-nightwalk">
               Theatre and Nightwalk
            </button>
          </mat-menu>

          <li routerLink="outreach-impact" routerLinkActive="active" (click)="closeMenu()">Outreach & Impact</li>

          <!-- <li routerLink="success-stories" routerLinkActive="active" (click)="closeMenu()">Success Stories</li> -->

          <li routerLink="certification" routerLinkActive="active" (click)="closeMenu()">Certifications & recognitions
          </li>

          <li routerLink="events" routerLinkActive="active" (click)="closeMenu()">Events</li>
          <li routerLink="media-center" routerLinkActive="active" (click)="closeMenu()">Media Centre</li>
          <!-- <li routerLink="" routerLinkActive="active" (click)="closeMenu()">Resource Center</li> -->

          <li routerLink="contact" routerLinkActive="active" (click)="closeMenu()">Contact Us</li>
        </ul>
        <button class="btn-donate" routerLink="/donate">
          Donate <mat-icon>volunteer_activism</mat-icon>
        </button>
      </div>

      <!-- Hamburger -->
      <div class="menu-toggle" (click)="toggleMenu()">
        <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
      </div>

    </div>
  </div>

</div>