<footer class="ngo-footer">
  <div class="container">
    <div class="footer-container">

      <!-- About NGO -->
      <div class="footer-box">
        <h4>About Our Foundation</h4>
        <p>
          Working for child protection, rehabilitation, and community-based
          initiatives for vulnerable children across India.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="footer-box">
        <h4>Quick Links</h4>
        <ul>
          <li>About Us</li>
          <li>Our Work</li>
          <li>Impact Stories</li>
          <li>Our Team</li>
          <li>Media Centre</li>
        </ul>
      </div>

      <!-- Our Focus -->
      <div class="footer-box">
        <h4>Legal & Compliance</h4>
        <ul>
          <li>FCRA Compliance</li>
          <li>Annual Reports</li>
          <li>Financial Statements</li>
          <li>Policies</li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="footer-box">
        <h4>Contact Us</h4>
        <p><mat-icon>location_on</mat-icon><strong>Address:</strong> 18-A, MIG Flats, Sheikh Sarai, Phase-1,
Triveni Phase 1, New Delhi-110017</p>
        <p><mat-icon>email</mat-icon><strong>Email:</strong> jamghat@gmail.com</p>
        <p><mat-icon>phone</mat-icon><strong>Phone:</strong> 011-49987468 </p>
      </div>

    </div>
  </div>
  <!-- Bottom Bar -->

</footer>
<div class="footer-bottom">
  <div class="d-flex justify-content-between container">
    <p class="mb-0"> © 2026 Jamghat. All Rights Reserved.</p>
    <a href="https://macreel.co.in" target="_blank" class="footerLink">Developed by: Macreel Infosoft Pvt. Ltd.</a>
  </div>
</div>