

.aangan-header {
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 16px;
  color: #64748b;
  /* line-height: 1; */
  margin-top: 5px;
}
.aangan-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  gap: 24px;
}
.aangan-card {
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.aangan-card h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 12px;
}

.aangan-card p {
  font-size: 15px;
  color: #475569;
  line-height: 1.7;
}

.aangan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.aangan-highlight {
  background: var(--bg-light-primary);
  color: var(--color-primary);
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: none;
}

.aangan-highlight h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 28px;
}

.aangan-list {
  padding-left: 18px;
  margin: 10px 0;
}

.aangan-list li {
  font-size: 15px;
  color: #475569;
  margin-bottom: 6px;
  list-style: disc;
  margin-left: 20px;
}
.aangan-list li::marker{
  color: var(--color-primary);
}
.aangan-grid2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
}
.aangan-grid2 .aangan-card{
  margin-bottom: 0;
}
.aangan-img{
  border-radius: 10px;
  overflow: hidden;
}