<section class="ngo-ar-wrapper wrapper-section">
  <!-- annual reports and returns -->
  <div>
    <div class="ngo-ar-header">
      <h2 class="ngo-ar-title">Annual Reports / Returns</h2>
      <p class="ngo-ar-subtitle">
        Comprehensive yearly reports detailing our programs, impact, and financial performance
      </p>
    </div>

    <div class="ngo-ar-grid">

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2023–24</span>
        </div>

        <h4 class="ngo-ar-name">Annual Report FY 2023–24</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">2.60 MB</span>

          <a href="../../assets/pdf/Annual Report FY 2023-24.pdf" download="Annual Report FY 2023-24"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2022–23</span>
        </div>

        <h4 class="ngo-ar-name">Annual Report FY 2022–23</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">3.03 MB</span>

          <a href="../../assets/pdf/Annual Report FY 2022-23.pdf" download="Annual Report FY 2022-23"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2021–22</span>
        </div>

        <h4 class="ngo-ar-name">Annual Report FY 2021–22</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">3.09 MB</span>

          <a href="../../assets/pdf/Annual Report FY 2021-22.pdf" download="Annual Report FY 2021-22"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
    </div>
  </div>

  <!-- fcra returns -->
  <div>
    <div class="ngo-ar-header">
      <h2 class="ngo-ar-title"> FCRA Returns</h2>
      <p class="ngo-ar-subtitle">
        Comprehensive yearly reports detailing our programs, impact, and financial performance
      </p>
    </div>

    <div class="ngo-ar-grid">
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2023</span>
        </div>

        <h4 class="ngo-ar-name">FCRA Renewal Certificate_2023</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">60 KB</span>

          <a href="../../assets/pdf/FCRA  Renewal Certificate_2023.pdf" download="FCRA  Renewal Certificate_2023"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2022–23</span>
        </div>

        <h4 class="ngo-ar-name">FCRA Annual Return FY 2022-23</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">109 KB</span>

          <a href="../../assets/pdf/FCRA Annual return FY 22-23.pdf" download="FCRA Annual Return FY 2022-23"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2021–22</span>
        </div>

        <h4 class="ngo-ar-name">FCRA Annual Return FY 2021-22</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">107 KB</span>

          <a href="../../assets/pdf/FCRA Annual return FY 21-22.pdf" download="FCRA Annual Return FY 2021-22"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>

    </div>
  </div>

  <!-- audited balace sheet -->
  <div>
    <div class="ngo-ar-header">
      <h2 class="ngo-ar-title">Audited Balance Sheets</h2>
      <p class="ngo-ar-subtitle">
        Comprehensive yearly reports detailing our programs, impact, and financial performance
      </p>
    </div>

    <div class="ngo-ar-grid">

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2024–25</span>
        </div>

        <h4 class="ngo-ar-name">Audited FY 2024–25</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">35.7 MB</span>

          <a href="../../assets/pdf/Audited Financial Statements FY 2024-25.pdf"
            download="Audited Financial Statements FY 2024-25" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2023–24</span>
        </div>

        <h4 class="ngo-ar-name">Audited FY 2023–24</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">2.82 MB</span>

          <a href="../../assets/pdf/Audited Financial Statements FY 2023-24.pdf"
            download="Audited Financial Statements FY 2023-24" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2022–23</span>
        </div>

        <h4 class="ngo-ar-name">Audited FY 2022–23</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">2.40 MB</span>

          <a href="../../assets/pdf/Audited Financial Statements FY 2022-23.pdf"
            download="Audited Financial Statements FY 2022-23" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2021–22</span>
        </div>

        <h4 class="ngo-ar-name">Audited FY 2021–22</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">1.54 MB</span>

          <a href="../../assets/pdf/Audited Financial Statements FY 2021-22.PDF"
            download="Audited Financial Statements FY 2021-22" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>


    </div>
  </div>
  <!-- other documents -->
  <div>
    <div class="ngo-ar-header">
      <h2 class="ngo-ar-title">Others Documents</h2>
      <p class="ngo-ar-subtitle">
        Comprehensive yearly reports detailing our programs, impact, and financial performance
      </p>
    </div>

    <div class="ngo-ar-grid">

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <!-- <span class="ngo-ar-year"></span> -->
        </div>

        <h4 class="ngo-ar-name">Registration Certificate</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">183 KB</span>

          <a href="../../assets/pdf/Registation Certificate.pdf" download="Registation Certificate"
            class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2022–27</span>
        </div>

        <h4 class="ngo-ar-name">12A Renewal Certificate<br>
          (From AY 2022-23 to AY 2026-27)</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">65 KB</span>

          <a href="../../assets/pdf/AAAJJ0533BE20211_12A_Jamghat.pdf"
            download="12A Renewal Certificate(From AY 2022-23 to AY 2026-27)" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <span class="ngo-ar-year">2022–27</span>
        </div>

        <h4 class="ngo-ar-name">80G Renewal Certificate<br>
          (From AY 2022-23 to AY 2026-27)</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">56 KB</span>

          <a href="../../assets/pdf/AAAJJ0533BF20211_80G_Jamghat.pdf"
            download="80G Renewal Certificate(From AY 2022-23 to AY 2026-27)" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>

      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <!-- <span class="ngo-ar-year">2021–22</span> -->
        </div>

        <h4 class="ngo-ar-name">CSR Activities Registration</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">74 KB</span>

          <a href="../../assets/pdf/CSR Certificate.PDF"
            download="CSR Certificate" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
          <!-- <span class="ngo-ar-year">2021–22</span> -->
        </div>

        <h4 class="ngo-ar-name">Memorandum of Association</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">2.66 MB</span>

          <a href="../../assets/pdf/MOA (Jamghat).pdf"
            download="MOA (Jamghat)" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div>
      <!-- <div class="ngo-ar-card">
        <div class="ngo-ar-top">
          <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        </div>

        <h4 class="ngo-ar-name">Memorandum of Association</h4>
        <div class="d-flex justify-content-between align-items-center">
          <span class="ngo-ar-size">2.66 MB</span>

          <a href="../../assets/pdf/MOA (Jamghat).pdf"
            download="MOA (Jamghat)" class="ngo-ar-download">⬇ Download</a>
        </div>
      </div> -->


    </div>
  </div>

  <div class="ngo-ar-cta">
    <h3>Need Additional Documents?</h3>
    <p>
      For any additional compliance documents or information, please contact our administration team
    </p>

    <button class="ngo-ar-cta-btn">Contact Admin Team</button>
  </div>

</section>