<section class="ngo-ar-wrapper">

  <div class="ngo-ar-header">
    <h2 class="ngo-ar-title">Annual Reports / Returns</h2>
    <p class="ngo-ar-subtitle">
      Comprehensive yearly reports detailing our programs, impact, and financial performance
    </p>
  </div>

  <div class="ngo-ar-grid">

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2023–24</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2023–24</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2022–23</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2022–23</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2021–22</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2021–22</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

  </div>

  <div class="ngo-ar-header">
    <h2 class="ngo-ar-title">Audited Balance Sheets</h2>
    <p class="ngo-ar-subtitle">
      Comprehensive yearly reports detailing our programs, impact, and financial performance
    </p>
  </div>


  <div class="ngo-ar-grid">

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2023–24</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2023–24</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2022–23</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2022–23</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report 2021–22</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <button class="ngo-ar-download">⬇ Download</button>
      </div>
    </div>

  </div>

  <div class="ngo-ar-cta">
    <h3>Need Additional Documents?</h3>
    <p>
      For any additional compliance documents or information, please contact our administration team
    </p>

    <button class="ngo-ar-cta-btn">Contact Admin Team</button>
  </div>

</section>
