<section class="ngo-ar-wrapper wrapper-section">

  <div class="ngo-ar-header">
    <h2 class="ngo-ar-title">Annual Reports / Returns</h2>
    <p class="ngo-ar-subtitle">
      Comprehensive yearly reports detailing our programs, impact, and financial performance
    </p>
  </div>

  <div class="ngo-ar-grid">

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2023–24</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report FY 2023–24</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Annual Report FY 2023-24.pdf" download="Annual Report FY 2023-24" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2022–23</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report FY 2022–23</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Annual Report FY 2022-23.pdf" download="Annual Report FY 2022-23" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">Annual Report FY 2021–22</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Annual Report FY 2021-22.pdf" download="Annual Report FY 2021-22" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2022–23</span>
      </div>

      <h4 class="ngo-ar-name">FCRA Annual Return FY 2022-23</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/FCRA Annual return FY 22-23.pdf" download="FCRA Annual Return FY 2022-23" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">FCRA Annual Return FY 2021-22</h4>
       <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/FCRA Annual return FY 21-22.pdf" download="FCRA Annual Return FY 2021-22" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>

  </div>

  <div class="ngo-ar-header">
    <h2 class="ngo-ar-title">Audited Balance Sheets</h2>
    <p class="ngo-ar-subtitle">
      Comprehensive yearly reports detailing our programs, impact, and financial performance
    </p>
  </div>


  <div class="ngo-ar-grid">

    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2024–25</span>
      </div>

      <h4 class="ngo-ar-name">Audited FY 2024–25</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Audited Financial Statements FY 2024-25.pdf" download="Audited Financial Statements FY 2024-25" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2023–24</span>
      </div>

      <h4 class="ngo-ar-name">Audited FY 2023–24</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Audited Financial Statements FY 2023-24.pdf" download="Audited Financial Statements FY 2023-24" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2022–23</span>
      </div>

      <h4 class="ngo-ar-name">Audited FY 2022–23</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Audited Financial Statements FY 2022-23.pdf" download="Audited Financial Statements FY 2022-23" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>
    <div class="ngo-ar-card">
      <div class="ngo-ar-top">
        <div class="ngo-ar-icon"><mat-icon>description</mat-icon></div>
        <span class="ngo-ar-year">2021–22</span>
      </div>

      <h4 class="ngo-ar-name">Audited FY 2021–22</h4>
      <div class="d-flex justify-content-between align-items-center">
        <span class="ngo-ar-size">12.5 MB</span>
  
        <a href="../../assets/pdf/Audited Financial Statements FY 2021-22.PDF" download="Audited Financial Statements FY 2021-22" class="ngo-ar-download">⬇ Download</a>
      </div>
    </div>

   
  </div>

  <div class="ngo-ar-cta">
    <h3>Need Additional Documents?</h3>
    <p>
      For any additional compliance documents or information, please contact our administration team
    </p>

    <button class="ngo-ar-cta-btn">Contact Admin Team</button>
  </div>

</section>
