
section{
  padding-inline: 0;
}
.about-grid{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  margin-top: 40px;
}
.about-content p{
  font-size: 16px;
  line-height: 1.7;
}
.ab-img{
  border-radius: 20px;
  overflow: hidden;
}
.mission-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.mission-cont{
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  background:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
  url('../../assets/missionImg.jpg') no-repeat;
  background-position: 100% 15%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-cont::after{
  position: absolute;
  inset: -150px 0 0 -100px;
  content: '';
  width: 40%;
  height: 700px;
  transform: rotate(20deg);
  background: var(--color-primary);
  z-index: 1;
} 
.mission-cont .container{
  position: relative;
  padding-block: 60px;
  z-index: 2;
}

.mission-heading{
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

.mission-box-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mission-frame{
  padding: 5px;
  background-color: #fff;
  display: flex;
  border-radius: 6px;
}
.mission-frame iframe{
  z-index: 1;
}
.mission-card{
  background-color: #fff;
  padding: 20px;
  align-self: flex-start;
  box-shadow: 0 0px 20px -5px rgba(0, 0, 0, 0.18);
  margin-top: 50px;
  /* height: 100%; */
  border-radius: 6px;
}
.mission-card-1{
  margin-top: 0px;
}
.mission-card h4{
  margin-top: 20px;
  font-weight: 600;
}
.mission-card .icon{
  position: absolute;
  margin-top: -50px;
  margin-bottom: 15px;
  background-color: var(--color-primary);
  display: inline-flex;
  padding: 15px;
  border-radius: 10px;
}
.mission-card-frame{
  height: 380px;
  border: 1px solid var(--color-primary);
}
.icon img{
  width: 30px;
}
.mission-box-grid h4{
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
/* .mission-card p{
  line-height: 1.7;
  font-size: 15px;
} */

.vision-mission-sec{
  background-color: var(--bg-light-primary);
}

/* objectives */
.objectives-grid{
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.obj-card{
  display: flex;
  gap: 16px;
}
.obj-card h3{
  margin-bottom: 5px;
  font-weight: 500;
  /* margin-top: 16px; */
}
.obj-icon{
  width: 40px;
  flex-shrink: 0;
}
.obj-icon img{
  height: auto;
}

/* values */
.values-section{
  background-color: var(--bg-light-primary);
}
.values-grid{
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.value-card{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
.value-card h3{
  margin-bottom: 5px;
  font-weight: 500;
}