.what-we-do-page {
  background: #fff;
  font-family: 'Inter', sans-serif;
}

/* HEADER */
.page-header {
  text-align: center;
  padding: 60px 20px;
  background: #faf7f3;
}
/* .page-header h1 {
  font-size: 42px;
  font-weight: 700;
} */
.page-header p {
  color: #64748b;
  margin-top: 5px;
}

/* SECTIONS */
.work-section {
  padding: 70px 0;
}
.work-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  padding: 0 20px;
}
.work-section.reverse .work-grid {
  direction: rtl;
}
.work-section.reverse .work-content {
  direction: ltr;
}

.work-content h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  margin-bottom: 20px;
}
.work-content p {
  line-height: 1.7;
  color: #334155;
  margin-bottom: 15px;
}

.work-image img {
  width: 100%;
  aspect-ratio: 1/.8;
  border-radius: 18px;
}

/* LISTS */
.info-list {
  list-style: none;  
  padding: 0;
  margin: 20px 0;
}
.info-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  color: #475569;
}
.info-list mat-icon{
  font-size: 18px;
}

/* BOXES */
.activity-box,
.highlight-box {
  background: var(--bg-light-primary);
  padding: 20px;
  border-radius: 14px;
  margin-top: 20px;
}
.activity-box ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-left: 18px;
}
.activity-box li{
  list-style: disc;
}
.activity-box ul li::marker {
  color: var(--color-primary);
  font-size: 18px;
}
/* TAGS */
.tag-list {
  margin-top: 20px;
}
.tag-list span {
  display: inline-block;
  background: #fde8e2;
  color: #b91c1c;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin: 5px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .work-grid {
    grid-template-columns: 1fr;
  }
  .page-header h1 {
    font-size: 32px;
  }
}
