<section class="wrapper-section">
  <div class="container ngo-contact-grid">
    <!-- Left Form -->
    <div class="ngo-contact-form-card">
      <h3 class="ngo-contact-title">Send us a Message</h3>

      <form>
        <div class="ngo-contact-row">
          <div class="ngo-contact-field">
            <label>Full Name *</label>
            <input type="text" placeholder="John Doe" />
          </div>

          <div class="ngo-contact-field">
            <label>Email Address *</label>
            <input type="email" placeholder="john@example.co" />
          </div>
        </div>

        <div class="ngo-contact-row">
          <div class="ngo-contact-field">
            <label>Phone Number</label>
            <input type="text" placeholder="+91 98765 43210" />
          </div>

          <div class="ngo-contact-field">
            <label>Subject *</label>
            <select>
              <option>General Inquiry</option>
              <option>Volunteer</option>
              <option>Donation</option>
            </select>
          </div>
        </div>

        <div class="ngo-contact-field">
          <label>Message *</label>
          <textarea placeholder="Tell us how we can help you..."></textarea>
        </div>

        <button class="ngo-contact-btn">
          Send Message <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>

    <!-- Right Info -->
    <div class="ngo-contact-info">

      <!-- Address -->
      <div class="ngo-info-card">
        <div class="ngo-info-icon red"><mat-icon>location_on</mat-icon></div>
        <div>
          <h4>Office Address</h4>
          <p>
            T-1, 4th floor,<br> Akarshan Bhawan, Pataudi House,<br> Ansari Road, Darya Ganj, Delhi - 110002
          </p>
        </div>
      </div>

      <div class="ngo-info-card">
        <div class="ngo-info-icon red"><mat-icon>location_on</mat-icon></div>
        <div>
          <h4>Registered Address</h4>
          <p>18-A, MIG Flats,<br> Sheikh Sarai, Phase-1,<br>
            Triveni Phase 1, New Delhi-110017
          </p>
        </div>
      </div>

      <!-- Phone -->
      <div class="ngo-info-card">
        <div class="ngo-info-icon blue"><mat-icon>phone</mat-icon></div>
        <div>
          <h4>Phone</h4>
          <p>
            <a href="tel:+919818705715">
              +91 9818705715
            </a>
          </p>
        </div>
      </div>

      <!-- Email -->
      <div class="ngo-info-card">
        <div class="ngo-info-icon green"><mat-icon>email</mat-icon></div>
        <div>
          <h4>Email</h4>
          <p>
            <a href="mailto:contact.jamghat@gmail.com" target="_blank">
              contact.jamghat@gmail.com
            </a>
          </p>
        </div>
      </div>

      <!-- Social -->
      <div class="ngo-follow-card">
        <h4>Follow Us</h4>
        <div class="ngo-social-icons">
          <a href="https://www.facebook.com/childrensjamghat" target="_blank">
            <img src="../../assets/facebook.png" alt="">
          </a>
          <a href=" https://www.instagram.com/childrensjamghat/" target="_blank">
            <img src="../../assets/instagram.png" alt="">
          </a>
          <a href="https://www.linkedin.com/company/19206974/admin/page-posts/published/" target="_blank">
            <img src="../../assets/linkedin.png" alt="">
          </a>
          <a href="https://www.youtube.com/@jamghat" target="_blank">
            <img src="../../assets/youtube.png" alt="">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div style="width: 100%; border-radius: 20px; overflow: hidden;" class="mt-5"><iframe width="100%" height="600"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Akarshan%20Bhawan,%20Old%20Delhi,%20Delhi,%20110002+(Jamghat)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.mapsdirections.info/de/evolkerung-auf-einer-karte-berechnen/">interaktive
          Bevölkerungskarte</a></iframe></div>
  </div>

</section>