
/* .wrapper{
  padding-top: 70px;
} */

.arrow-up{
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: -100px;
  right: 10px;
  transition: .3s;
}
.arrow-up.sticky{
  bottom: 10px;
}