.ngo-stories-wrapper {
  background: #ffffff;
  text-align: center;
}


/* Grid */
.ngo-stories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 40px auto;
}

/* Card */
.ngo-stories-card {
  margin-top: 70px;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 28px;
  position: relative;
  /* border: 1px solid; */
  box-shadow: 0px 0px 22px -12px rgba(99, 99, 99, 0.75);
  /* box-shadow: 0px 0px 40px -25px rgba(99, 99, 99, 0.75); */
}

/* User */

.ngo-stories-user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center -10px;
}

.ngo-stories-user {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  border: 2px dashed var(--color-primary);
}

/* Text */
.ngo-stories-text {
  font-size: 15px;
  color: #475569;
  line-height: 1.7;
  display: -webkit-box;
  line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;       
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.card-header{
  margin-block: 20px 10px;
}
/* Name */
.ngo-stories-name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}

.ngo-stories-role {
  font-size: 13px;
  color: var(--green);
}

.ngo-stories-link{
  background-color: var(--color-primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
}
.ngo-stories-link mat-icon{
  font-size: 12px;

}

@media (max-width: 992px) {
  .ngo-stories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .ngo-stories-grid {
    grid-template-columns: 1fr;
  }

  .ngo-stories-heading {
    font-size: 26px;
  }
}