<section class="ngo-stories-wrapper wrapper-section">
  <div class="container">
    <span class="heading-badge">SUCCESS STORIES</span>
    <h2 class="ngo-legal-title title-heading">
      Take a Look at What Our Amazing <br />
      Clients Have said
    </h2>

    <div class="ngo-stories-grid">

      <!-- Card 1 -->
      <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/s1.jpg" alt="Jean Dodge" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Jean Dodge</h4>
          <span class="ngo-stories-role">CEO The Web Guys</span>
        </div>

        <p class="ngo-stories-text">
          “Consultra helped us reach our business potential. They are our go-to
          business consultants!”
        </p>

        <span class="ngo-stories-link" routerLink="/success-stories-detail"><mat-icon>north_east</mat-icon></span>


      </div>

      <!-- Card 2 -->
      <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/s1.jpg" alt="Jean Dodge" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Jean Dodge</h4>
          <span class="ngo-stories-role">CEO The Web Guys</span>
        </div>

        <p class="ngo-stories-text">
          “Consultra helped us reach our business potential. They are our go-to
          business consultants!”
        </p>

        <span class="ngo-stories-link" routerLink="/success-stories-detail"><mat-icon>north_east</mat-icon></span>


      </div>

      <!-- Card 3 -->
      <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/s1.jpg" alt="Jean Dodge" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Jean Dodge</h4>
          <span class="ngo-stories-role">CEO The Web Guys</span>
        </div>

        <p class="ngo-stories-text">
          “Consultra helped us reach our business potential. They are our go-to
          business consultants!”
        </p>

        <span class="ngo-stories-link" routerLink="/success-stories-detail"><mat-icon>north_east</mat-icon></span>


      </div>

    </div>
  </div>
</section>