<section class="ngo-stories-wrapper wrapper-section">
  <div class="container">
    <span class="heading-badge">SUCCESS STORIES</span>
    <h2 class="ngo-legal-title title-heading">
      Take a Look at What Our Amazing <br />
      Clients Have said
    </h2>

    <div class="ngo-stories-grid">

      <!-- Card 1 -->
       <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/team/rajiv.jpg" alt="Rajiv" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Rajiv</h4>
          <span class="ngo-stories-role">Admin Assistant at iPartner India</span>
        </div>

        <p class="ngo-stories-text">
          He is one of the important employees of iPartner India. He is successful, confident and positive towards life.
        </p>

        <span class="ngo-stories-link" routerLink="/rajiv-stories"><mat-icon>north_east</mat-icon></span>


      </div>
      
      <!-- Card 2 -->
      <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/team/cause3.jpg" alt="kalam" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Kalam</h4>
          <span class="ngo-stories-role">Student</span>
        </div>

        <p class="ngo-stories-text">
         Kalam says, "Care homes like Aangan" should be there for all the children on the streets.
        </p>

        <span class="ngo-stories-link" routerLink="/kalam-stories"><mat-icon>north_east</mat-icon></span>


      </div>

      <!-- Card 3 -->
      <div class="ngo-stories-card">
        <div class="ngo-stories-user">
          <img src="../../assets/team/eram.jpg" alt="eram" />
        </div>
        <div class="card-header">
          <h4 class="ngo-stories-name">Eram</h4>
          <span class="ngo-stories-role">Student</span>
        </div>

        <p class="ngo-stories-text">
          With the attitude, aptitude & her inquisitive nature we are assured of her bright future.
        </p>

        <span class="ngo-stories-link" routerLink="/eram-stories"><mat-icon>north_east</mat-icon></span>


      </div>


    </div>
  </div>
</section>