<section>
  <div class="container">
    <div class="text-center">
      <span class="heading-badge"> Childcare</span>
      <h2 class="title-heading">Programme - Aangan Day care</h2>
    </div>
    <div class="aangan-grid">
      <div class="aangan-img">
        <img src="../../assets/about.jpg" alt="">
      </div>
      <div>
        <h3>Encouraging developmental growth in a loving and secure environment.</h3>
        <p>
          The Daycare centre – Aangan, was started in 2008 and since then has been working directly with the most
          vulnerable street children. Children are obviously very unsafe in the streets and are prone to various forms
          of exploitation, harassment and addictions. Aangan gives the parents of these children an option to send them
          to a safe space without worrying.<br><br>

          Aangan Daycare is open from 6 AM to 6 PM, Monday through Saturday. Recognising the different needs of school
          and non-school going homeless children, different set of activities are planned for both the groups.
          Similarly, different activities for children below 11 years and above 11 years are planned.<br><br>

          Academic sessions are conducted for non-school going children designed with 21st century skills in mind and
          remedial education sessions are provided for school going children.


        </p>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="aangan-grid">
      <div>
        <p></p>
      </div>
      <div class="aangan-img">
        <img src="../../assets/about2.jpg" alt="">
      </div>
    </div>
  </div>
</section>