.donation-hero {
  background: url('../../assets/donation-banner.jpg') center center / cover no-repeat;
  height: 320px;
  border-radius: 14px;
  margin-bottom: 40px;
  position: relative;
}

.donation-hero .overlay {
  background: linear-gradient(90deg,rgba(10, 10, 10, 0.73) 24%, rgba(245, 245, 245, 0) 100%);
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  border-radius: 14px;
}

.donation-hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
  color: var(--color-primary);
  font-weight: 600;
}

.donation-hero p {
  font-size: 18px;
  max-width: 480px;
}