/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
  --color-primary: #d44f4f;
  --color-secondary: #FFB44C;
  --bg-light-primary: #F2E9E9;
  /* soft pinch color */
  --color-3: #FFF3E6; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: #555;
}
h1,h2,h3,h4,h5,h6{
  color: #333;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-center{
  text-align: center;
}
.text-start{
  text-align: left!important;
}
.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.mt-8 {
  margin-top: 8px!important;
}

.mb-8 {
  margin-bottom: 8px!important;
}
.mb-15{
  margin-bottom: 12px!important;
}
.mb-0{
  margin-bottom: 0!important;
}
.p-0{
  padding: 0!important;
}
.gap-15{
  gap: 15px;
}
.fw-500{
  font-weight: 500!important;
}
.line-height-1{
  line-height: 1.2!important;
}

mat-icon{
  width: auto!important;
  height: auto!important;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  /* font-size: 12px; */
  font-weight: 500;
}
section {
  padding: 64px 15px;
}

.container {
  max-width: 1200px !important;
  width: 100% !important;
  margin: 0 auto !important;
}
.card{
  background-color: #fff;
  box-shadow: 0px 0px 39px -14px rgba(145, 145, 145, 0.75)!important;
  padding: 10px;
}

